pymupdf
pillow
opencv-python
python-bidi==0.4.
langchain-community
langchain
langchain-groq
python-dotenv
langchain_ollama
matplotlib
tqdm
unstructured
pandas
openai
tiktoken
faiss-cpu
PyPDF2
mockito
langchain-openai
pre-commit
boto3